/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700;900&display=swap');

/* Paleta de cores */
:root {
  --cor-fundo: #f1f3f5;
  --cor-preto: #15151e;
  --cor-cinza: #a8a8a8;
  --cor-branco: #ffffff;
  --cor-principal: #e10600;
  --cor-facebook: #3b5998;
  --cor-github: #171515;
}

/* Scroll suave */
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 6rem;
}

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: var(--cor-fundo);
}

/* Barra de rolagem */

body::-webkit-scrollbar,
.scroll-x::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

body::-webkit-scrollbar-track,
.scroll-x::-webkit-scrollbar-track{
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb,
.scroll-x::-webkit-scrollbar-thumb
{
  background-color: var(--cor-preto);
  border: 1px solid var(--cor-cinza);
  border-radius: 50px;
}

/* Cabeçalho */

header {
  background-color: var(--cor-preto);
  display: grid;
  grid-template-columns: 200px 1fr;
  /* display: flex;
  align-items: center; */
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 12px;
}

header .logo {
  height: 50px;
}

header .btn-area {
  display: none;
}

header .btn-menu {
  color: var(--cor-branco);
  font-size: 25px;
  display: inline-block;
}

header .nav {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
}

header .nav li {
  margin: 10px;
}

header .nav li a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: var(--cor-branco);
  font-size: 20px;
  transition: 0.3s;
}

header .nav li a:hover {
  background-color: var(--cor-principal);
}

/* Carrosel */

main .carousel {
  width: 100%;
}

.carousel-container {
  width: 100%;
  position: relative;

}

.carousel-item {
  display: none;
}

.carousel-item.visivel {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.btnAnterior, .btnProximo {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 15px;
  margin-top: -50px;
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 25px;
  transition: .3s ease;
  user-select: none;
}

.btnAnterior {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.btnProximo {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.btnAnterior:hover, .btnProximo:hover {
  background-color: rgba(0, 0, 0, .8);
}

.circulos-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulos-container div {
  background-color: var(--cor-preto);
  margin: 2px;
  padding: 10px;
  border-radius: 5px;
}

.circulo {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: 0 3px;
  background-color: var(--cor-cinza);
  border-radius: 50%;
  display: block;
  transition: background-color .4s ease;
}

.ativo, .circulo:hover {
  background-color: var(--cor-principal);
}

.animacao {
  animation-name: esmaecer;
  animation-duration: 1.5s;
}

@keyframes esmaecer {
  from {opacity: .4} 
  to {opacity: 1}
}

/* História */

.historia {
  margin: auto 135px 40px;
}

.historia h2 {
  margin: 10px auto;
  text-align: center;
  font-size: 60px;
}

.historia p {
  font-size: 18px;
}

/* Totalidades */

#info {
  height: 100%;
  flex-wrap: wrap;  
  background-color: var(--cor-preto);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.barra {
  background-color: var(--cor-principal);
  border-radius: 50%;
}

.info-item .info-dado {
  background-color: var(--cor-preto);
  padding: 30px 35px;
  border-radius: 50%;
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 35px;
  margin: 10px; 
}

.info-item .info-descricao {
  color: var(--cor-branco);
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

/* Titulos pistas, pilotos e equipes */

#pistas .titulo,
#pilotos .titulo,
#equipes .titulo {
  font-size: 50px;
  margin: 40px 0 0 75px;
}

/* Efeito flip nos cards */

.card-container {
  display: inline-block;
  margin: 0 15px 0 15px;
  perspective: 1000px;
}

.card-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: .6s;
  position: relative;
}

.card-container.flip .card-content {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--cor-branco);
  border-radius: 25px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}

.card-back {
  transform: rotatey(180deg);
}

/* Cards geral */

.scroll-x {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 30px 20px;
  margin: 5px;
}

#pistas, #pilotos, #equipes {
  white-space: nowrap;
}

/* Card pistas geral */

#pistas .card-container {
  width: 376px;
  height: 285px;
}

#pistas .card-front-content,
#pistas .card-back-content {
  padding: 25px;
  white-space: normal;
}

/* Card pistas frente */

#pistas .card-front-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#pistas .card-front-header img {
  height: 56px;
  width: 84px;
}

#pistas .card-front-header div {
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--cor-cinza) 0%, var(--cor-preto) 100%);
  width: 100%;
  height: 56px;
}

#pistas .card-front-header label {
  font-weight: bold;
  color: var(--cor-branco);
  font-size: 25px;
  text-transform: uppercase;
}

#pistas .card-front-body {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pistas .card-front-body img {
  object-fit: contain;
  max-height: 190px;
  max-width: 100%;
}

/* Card pistas verso */

#pistas .card-back-header h3 {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.primeiro-gp {
  grid-area: primeiro-gp;
}

.comp-circuito {
  grid-area: comp-circuito;
}

.num-voltas {
  grid-area: num-voltas;
}

.dist-corrida {
  grid-area: dist-corrida;
}

.volta-record {
  grid-area: volta-record;
}

#pistas .card-back-body {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-areas: 
  "primeiro-gp num-voltas"
  "comp-circuito dist-corrida"
  "volta-record volta-record";
}


#pistas .card-back-body div {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--cor-preto);
  border-right: 1px solid var(--cor-preto);
  border-bottom-right-radius: 10px;
  margin: 2px;
  padding: 2px;
}

#pistas .card-back-body div p {
  padding: 4px 0;
  font-size: 16px;
}

#pistas .card-back-body div label {
  font-weight: bold;
  font-size: 18px;
}

/* Card piloto geral */

#pilotos .card-container {
  width: 256px;
  height: 390px;
}

#pilotos .card-front-content {
  padding: 0px;
  height: 100%;
}

#pilotos .card-back-content {
  padding: 25px;
}

/* Card piloto frente */

#pilotos .card-front-header img {
  width: 100%;
  height: 100%;
}

#pilotos .card-front-body {
  padding: 5px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
  color: var(--cor-branco);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--cor-preto);
}

#pilotos .card-front-body h2 {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
}

#pilotos .card-front-body h2 span {
  font-weight: bold;
}

#pilotos .card-front-body h1 {
  font-size: 70px;
  margin: 0 5px;
}

/* Card piloto verso */

#pilotos .card-back-header h3 {
  margin: 0;
  text-align: center;
  font-size: 18px;
}

#pilotos .card-back-body {
  display: grid;
  grid-template-columns: 1fr;
}

#pilotos .card-back-body div {
  border-bottom: 2px solid var(--cor-preto);
  border-right: 1px solid var(--cor-preto);
  border-bottom-right-radius: 10px;
  padding: 2px;
}

#pilotos .card-back-body div p {
  padding: 3px 0;
  font-size: 16px;
}

#pilotos .card-back-body div label {
  font-size: 18px;
  font-weight: bold;
}

/* Card equipes geral */

#equipes .card-container {
  width: 550px;
  height: 285px;
}

#equipes .card-front-content,
#equipes .card-back-content {
  padding: 25px;
}

/* Card equipes frente */

#equipes .card-front-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#equipes .card-front-header img {
  height: 80px;
  width: 100px;
}

#equipes .card-front-header div {
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--cor-cinza) 0%, var(--cor-preto) 100%);
  width: 100%;
  height: 56px;
}

#equipes .card-front-header label {
  font-weight: bold;
  color: var(--cor-branco);
  font-size: 25px;
  text-transform: uppercase;
}

#equipes .card-front-body {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#equipes .card-front-body img {
  object-fit: contain;
  max-height: 190px;
  max-width: 100%;
}

/* Card equipes verso */

#equipes .card-back-header h3 {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.chefe-equipe {
  grid-area: chefe-equipe;
}

.ano-entrada {
  grid-area: ano-entrada;
}

.mundiais-equipe {
  grid-area: mundiais-equipe;
}

.motor {
  grid-area: motor;
}

.prim-piloto {
  grid-area: prim-piloto;
}

.seg-piloto {
  grid-area: seg-piloto;
}

.base {
  grid-area: base;
}


#equipes .card-back-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "chefe-equipe ano-entrada mundiais-equipe"
  "motor prim-piloto seg-piloto"
  "base base base";
}

#equipes .card-back-body div {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--cor-preto);
  border-right: 1px solid var(--cor-preto);
  border-bottom-right-radius: 10px;
  margin: 2px;
  padding: 2px;
}

#equipes .card-back-body div p {
  padding: 4px 0;
  font-size: 16px;
}

#equipes .card-back-body div label {
  font-weight: bold;
  font-size: 18px;
}

/* Rodapé */

footer {
  margin: 0;
}

/* Form Cadastro */

#cadastro {
  padding: 50px;
  max-width: 50%;
  margin: 0 auto;
}

#cadastro p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.formLine {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.formLine label {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
  padding-left: 5px;
}

.formLine input {
  font-size: 15px;
  padding: 15px;
  border: 1px solid var(--cor-preto);
  border-radius: 5px;
}

.formLine input:focus {
  outline: 1px solid var(--cor-preto);
} 

.formLine #btnForm {
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid var(--cor-principal);
  border-radius: 5px;
  color: var(--cor-branco);
  background-color: var(--cor-principal);
  transition: .3s;
}

.formLine #btnForm:hover {
  background-color: var(--cor-branco);
  color: var(--cor-principal);
}

/* Criador e redes sociais */

#creditos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-preto);
  padding: 40px 135px;
}

#creditos #criador {
  display: flex;
  flex-direction: column;
}

#criador label {
  color: var(--cor-branco);
  font-size: 18px;
  padding: 3px;
}

#contato label {
  font-size: 35px;
}

#contato label a {
  color: var(--cor-branco);
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
  transition: .3s;
}

#contato .facebook:hover {
  color: var(--cor-facebook);
  background-color: var(--cor-branco);
}

#contato .github:hover {
  color: var(--cor-github);
  background-color: var(--cor-branco);
}

/* Responsividade */

@media (max-width: 1200px) {

  .historia {
    margin: auto 100px 30px;
  }

  #cadastro {
    max-width: 70%;
  }
  
  #creditos {
    padding: 40px 100px;
  }

}

@media (max-width: 992px) {

  .historia {
    margin: auto 80px 20px;
  }

  .historia h2 {
    margin: 5px auto;
    font-size: 50px;
  }
  
  .historia p {
    font-size: 18px;
  }
  
  #pistas .titulo,
  #pilotos .titulo,
  #equipes .titulo {
    font-size: 45px;
    margin: 40px 0 0 70px;
  }
  
  .scroll-x {
    padding: 25px 15px;
  }

  .card-container {
    margin: 0 10px 0 10px;
  }

  #cadastro {
    padding: 45px;
    max-width: 80%;
  }
  
  #creditos {
    padding: 40px 80px;
  }
  
  #contato label {
    font-size: 30px;
  }

}

@media (max-width: 768px) {

  .historia {
    margin: auto 50px 15px;
  }

  .historia h2 {
    margin: 5px auto;
  }
  
  .historia p {
    font-size: 17px;
  }

  #pistas .titulo,
  #pilotos .titulo,
  #equipes .titulo {
    margin: 30px 0 0 55px;
  }
  
  .scroll-x {
    padding: 20px 5px;
  }

  .card-container {
    margin: 0 10px 0 10px;
  }

  #cadastro {
    padding: 35px;
    max-width: 85%;
  }
  
  #creditos {
    padding: 30px 50px;
  }

}

@media (max-width: 576px) {

  /* Menu responsivo */

  header .nav {
    display: none;
    grid-area: nav;
  }

  header .logo {
    height: 25px;
    grid-area: logo;
  }

  header .btn-area {
    display: block;
    text-align: right;
    grid-area: btn;
  }

  header {
    padding: 12px 22px;
    grid-template-areas: 
    "logo btn"
		"nav nav";
  }

  .btn-area.menu-aberto ~ .nav  {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  header .nav li a {
    font-size: 16px;
    padding: 8px;
  }

  /* Responsividade gerais */

  .historia {
    margin: auto 15px 20px;
  }

  .historia h2 {
    font-size: 35px;
    margin: 5px auto;
  }
  
  .historia p {
    font-size: 16px;
  }

  #pistas .titulo,
  #pilotos .titulo,
  #equipes .titulo {
    font-size: 35px;
    margin: 20px 0 0 35px;
  }
  
  .scroll-x {
    padding: 10px 0px;
  }

  .card-container {
    margin: 0 3px 0 3px;
  }

  #cadastro {
    padding: 20px;
    max-width: 100%;
  }

  #cadastro p {
    font-size: 17px;
  }
  
  .formLine label {
    font-size: 16px;
  }
  
  #creditos {
    padding: 30px 10px;
  }

  #criador label {
    font-size: 15px;
  }
}

/* @media (max-width: 435px) {

  #pistas .card-back-header h3 {
    font-size: 16px;
  }

  #pistas .card-front-header label {
    font-size: 20px;
  }

  #pistas .card-back-body div p {
    font-size: 14px;
  }
  
  #pistas .card-back-body div label {
    font-size: 16px;
  }

  #pistas .card-back-content {
    padding: 14px;
  }

} */